7/2/09 1:31 PMCQ Almanac Online Edition
Page 1 of 2http://library.cqpress.com.monstera.cc.columbia.edu:2048/cqalmanac/document.php?id=cqal68-1283787&type=hitlist&num=0
Stock Market and Financial
Services
2004 Stock Option Accountability
2001 SEC Law a Win for Wall Street
1999 Major Overhaul Enacted Of Rules
Governing the Financial Services
Industry
1998 Loophole Fix Moves Class-Action
Securities Suits From State to
Federal Courts
1998 Financial Services Overhaul Dies
in Senate, A Victim of Friendly
Fire
1997 Financial Services Overhaul Stalls
1996 Securities Regulation Provisions
1996 Financial Services Provisions
1996 Congress Streamlines Securities
Rules
1994 Other Securities-Related Bills
Considered in 1994
1994 Financial Services Trade Bill
Falters at Session's End
1993 Financial Services Bill Seeks To
Open Markets
1993 Bill Tightens Regulation of
Government Bond Market
1992 Government Securities Bill Is
Quashed
1991 Government Securities Bill
Considered
1990 Market Control Authority of the
Securities and Exchange
Commission (SEC) Increased
1990 Congress Passes Bills
Strengthening Securities and
Exchange Commission (SEC)
1989 Securities Arbitration
1989 Market Reform Stalled
1988 Stock Market Regulation
1988 Insider-Trading Bill
1986 Securities Dealer Regulations
1985 Government Securities Firms
1982 Commodity Futures Trading Bill
Cleared
1980 Securities Investor Privacy
1977 Investor Protection
1975 Overhaul Of Securities Industry
Approved
1974 Rules Committee Blocks
Securities Bill
1974 Municipal Bonds Regulation
1973 Stock Exchange Membership
1973 Securities Transactions
1973 Securities Thefts
1973 Federal Financing Bank
1972 Securities Transactions
1972 Securities Industry
1971 Securities Thefts: Mafia Moves on
Wall Street
Over-The-Counter Securities
An article from CQ Almanac 1968
Document Outline
Background
Senate
House
Congress July 17 sent to the President an Administration-backed bill (S 1299)
which extended the authority of the Federal Reserve Board over margin
requirements to the over-the-counter  (OTC) securities  market. The
President signed the bill July 29 (PL 90-437).
The bill was supported by virtually all of the interested federal regulatory
agencies and trade associations.
The new law had the effect of restricting the previously unlimited amount of
credit banks could extend for the purchase of OTC securities , which
were unlisted on the market.
The margin requirement (down payment by the purchaser) was 80 percent,
meaning that the purchaser had to pay at least 80 percent of the value of the
stock in order to purchase it. The broker arranged for payment of the
remainder as credit. Prior to June 8, the margin requirement had been 70
percent. The major beneficiaries of the new law were the brokers, who
previously had been prohibited from extending any credit for the purchase of
OTC securities .
The law embodied a major recommendation of the Securities  and
Exchange Commission (SEC) after a study of the securities  market made
in 1963 pursuant to a Congressional directive.
Legislative History. The Senate Banking and Currency Committee June 18
reported S 1299 (S Rept 1264) and the Senate by voice vote passed the bill
on June 19. The House Interstate and Foreign Commerce Committee July 10
reported a nearly identical bill (HR 7696—H Rept 1663) and the House by
voice vote passed the bill on July 15 and then substituted its provisions for
those of S 1299. The Senate July 17 by voice vote agreed to the House
amendments to S 1299, which were minor.
Background
REFERENCES: Congress and the Nation p. 383; 1964 Almanac p. 562.
Congress, believing that the financial crisis of 1929 was caused in part by
excessive credit for the purchase of securities , passed the Securities
 Exchange Act of 1934. The Act, among other things, authorized the
Federal Reserve Board (Fed) to regulate both credit that brokers extended on
securities  registered on an exchange, and credit that banks and other
lenders extended for the purchase of such securities .
The Act controlled brokers' credits much more strictly than credit by banks
and other lenders by prohibiting brokers from extending credit on 
over-the-counter securities , those not listed on an exchange.
At the time the Act was passed, the different treatment for OTC stocks was
not considered important since the number of stocks so traded was relatively
insignificant.
 
7/2/09 1:31 PMCQ Almanac Online Edition
Page 2 of 2http://library.cqpress.com.monstera.cc.columbia.edu:2048/cqalmanac/document.php?id=cqal68-1283787&type=hitlist&num=0
Wall Street
1971 Securities Industry
1970 Securities Exemption
1970 Protection for Stockholders
1970 Mutual Funds: New Controls
After Four-Year Delay
1970 Congress Clears Securities
Investor Protection Bill
1969 Securities Hearings
1969 Mutual Funds
1968 Securities Disclosure
1968 Over-The-Counter Securities
1968 Institutional Investors Study
1967 Securities Disclosure
1967 Hearings Held on S.E.C. Bill to
Regulate Mutual Funds
1965 Securities Fees
1964 Controls Over Stock Issues and
Dealers Strengthened
1963 SEC Study Submitted; Senate
Approves Bill
1962 S.E.C. Activities
1955 Stock Market Study
1955 Government Securities
1954 Changes In SEC Law
Since then, the dollar volume of OTC securities  rose from one-sixth to an
estimated three-fifths of the dollar volume of listed securities . Moreover,
1964 amendments to the Securities  Exchange Act tightened controls
over the unlisted securities , making them more attractive to the investing
public.
Senate
COMMITTEE—Senate Banking and Currency; John J. Sparkman (D Ala.),
chairman.
ACTION—June 18 reported a bill (S 1299— S Rept 1264) authorizing the
Federal Reserve Board to set margin requirements for lenders and brokers in
the unlisted securities  market.
The Committee made clear in its report that nonbank lending for the purchase
of unlisted securities  would not be approved for all of the estimated
20,000 OTC securities . “Your Committee expects the Board to adopt
specific standards and regulations to determine which securities  will be
covered,” said the report. “Hon. J.L. Robertson, vice chairman of the Board,
testified before this Committee that the Board intends to develop standards
that will extend margin regulation to those OTC stocks which have market
and investor characteristics similar to those of exchange-traded stocks. Your
Committee endorses this view.”
The Committee also directed the Fed to include the so-called “marketmakers” under the regulations which allow an
exemption from margin requirements to the “specialists” on the exchanges. The marketmakers and the specialists
carried many securities  as “inventory” in order to accommodate investors.
House
COMMITTEE—House Committee on Interstate and Foreign Commerce; Harley O. Staggers (D W.Va.), chairman.
ACTION—July 10 reported a bill (HR 7696— H Rept 1663) which extended the authority of the Federal Reserve
Board to set margin requirements to the over-the-counter  (unlisted) securities  market.
“It is inconsistent” to have different margin regulation procedures for listed and unlisted securities, the Committee
said in its report. “It is also important that there be regulation over the amount of credit which can be extended by
the banks,” said the Committee.
Document Citation
"Over-The-Counter Securities." CQ Press Electronic Library, CQ Almanac Online Edition, cqal68-1283787. Originally published
in CQ Almanac 1968 (Washington: Congressional Quarterly, 1969). http://library.cqpress.com/cqalmanac/cqal68-1283787
(accessed July 2, 2009).
Document ID: cqal68-1283787
Document URL: http://library.cqpress.com/cqalmanac/cqal68-1283787
© 1969, 2009, CQ Press, A Division of SAGE Publications. All Rights Reserved.
2300 N Street N.W., Suite 800 • Washington, D.C. 20037 • 202-729-1800
General Terms of Service | Copyright Notice and Takedown Policy | Masthead
